h1, h3{
    text-align: center;
}




.content-box {
    text-align: center;
    margin: 1rem;
}

.row-4{
    margin: 5px;
 
}
#chatbox{
    background:#e0e0de;
    border: 2px solid black;
    height: 20rem;
    border-radius: 3rem;
}

.card-turn{
    background: lightgreen;
}

.card-not-turn{
    background: white;
}